@using PortfolioProject_2.Models.Entity
@model List<Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<br />
<h2>Eğitimler</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Üniversite Adı</th>
        <th>Bölüm Adı</th>
        <th>Açıklama</th>
        <th>Agno</th>
        <th>Eğitim Tarihi</th>
        <th>Sil</th>
        <th>Düzenle</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.UniversityName</td>
            <td>@x.TrainingName</td>
            <td>@x.Description</td>
            <td>@x.Agno</td>
            <td>@x.EducationDate</td>
            <td>
                <a href="/Education/RemoveEducation/@x.Id" class="btn btn-danger">
                    <i class="fas fa-trash">
                    </i> Sil
                </a>
            </td>
            <td>
                <a href="/Education/UpdateEducation/@x.Id" class="btn btn-info">
                    <i class="fas fa-pencil-alt">
                    </i> Düzenle
                </a>
            </td>
        </tr>
    }

</table>
<a href="/Education/AddEducation/" class="btn btn-success">Yeni Eğitim Ekle</a>
